{% if site.javascripts.enabled %}
  <script src="{{ site.javascripts.baseUrl }}/require.js"></script>
	<script>
	require.config({
	  baseUrl : "{{ site.javascripts.baseUrl }}",
	});
	require(['order!jquery','jb'], function($, JB){
	  JB.init(function(){
	  {% if page.tabify %}
	    JB.plugins.tabify.init(".tabify", "{{ page.tabify }}");
	  {% endif %}
	    $("a[rel='twipsy']").twipsy();
	    $("a[rel='popover']").popover();
	  });
	});
	</script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-38974482-1']);
	  _gaq.push(['_setDomainName', 'github.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
{% endif %}